version: "3"
services:
  php:
    container_name: php
    build: ./docker/php
    volumes:
      - ./src:/var/www
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    working_dir: /var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:mainline-alpine
    container_name: nginx
    depends_on:
      - php
    ports:
      - 80:80
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

  mysql:
    image: mysql:5.7
    container_name: mysql
    volumes:
      - ./docker/mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE:
      MYSQL_USER:
      MYSQL_PASSWORD:
      MYSQL_ROOT_PASSWORD:
      TZ: 'Asia/Tokyo'
    ports:
      - 3306:3306
